<!DOCTYPE html>
<html>
    <head>
        <title>Optimus Time</title>
        <link href="/static/style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="static/optimus_time_icon.jpg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="myBtn">
                    <a class="nav-link" href="#">Add Event</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Calendar</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <header>
            <h1>Optimus Time</h1>
            <h2>Schedule on the Edge of <em>Sanity</em></h2>
        </header>
        <main>

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content" style="width: 50%;">
                    <span class="close">&times;</span>
                    <p>Give us a little more information about your assignment and we'll add it to your calendar for you!</p>
                    <form action="/optimus-time" method="POST">
                        <label for="name">What is your assignment?</label>
                        <input type="text" id="name" name="name">
                        <br>

                        <label for="due_in_x">How many days until it's due?</label>
                        <input type="number" id="due_in_x" name="due_in_x" min="0">

                        <br>
                        <label for="duration_hr">How long will it take you to complete it?</label>
                        <input type="number" id="duration_hr" name="duration_hr" min="0">
                        <small>hours</small>

                        <br>
                        <input type="submit" value="Add Event">
                    </form>
                </div>
            </div>

            <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function() {
            modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
            modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            }
            </script>

            <br><br>

            <p>Add your assignments below with an estimate of how long it will take you to complete them.
                Then, our awesome algorithm will tell you how much time you need to spend on your task each day
                to complete it by the deadline.</p>

            
        </main>
        <footer>

        </footer>

    </body>
</html>
